[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dar"]
	path = dar
	url = https://github.com/microbialgenomics-irsicaixaorg/dar
